export HCLOUD_TOKEN=
export CLOUDFLARE_API_TOKEN=

export AWS_DEFAULT_REGION=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_ENDPOINT_URL_S3=

export TF_VAR_tf_passphrase=

export TF_VAR_ssh_identity=
export TF_VAR_dsm_host=
export TF_VAR_dsm_user=
export TF_VAR_dsm_password=

export TF_VAR_hcloud_newt_id=
export TF_VAR_hcloud_newt_secret=
export TF_VAR_s920p_newt_id=
export TF_VAR_s920p_newt_secret=

export TF_VAR_cloudflare_dns_api_token=

export TF_VAR_wg_easy_init_password=

use_nix
