export HCLOUD_TOKEN=
export CLOUDFLARE_API_TOKEN=

export AWS_DEFAULT_REGION=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
export AWS_ENDPOINT_URL_S3=

export TF_VAR_ssh_identity=

export TF_VAR_cloudflare_dns_api_token=

use_nix
