export HCLOUD_TOKEN=
export CLOUDFLARE_API_TOKEN=
export CLOUDFLARE_DNS_API_TOKEN=

export CLOUDFLARE_R2_ENDPOINT=
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=

export TF_VAR_ssh_identity=
export TF_VAR_mailgun_api_key=
export TF_VAR_mailgun_smtp_password=
export TF_VAR_dsm_host=
export TF_VAR_dsm_user=
export TF_VAR_dsm_password=

export TF_VAR_hcloud_newt_id=
export TF_VAR_hcloud_newt_secret=

export TF_VAR_wg_easy_init_password=

use_nix
