services:
  web:
    image: ghcr.io/karakeep-app/karakeep:${KARAKEEP_VERSION:-release}
    restart: unless-stopped
    volumes:
      # By default, the data is stored in a docker volume called "data".
      # If you want to mount a custom directory, change the volume mapping to:
      # - data:/data
      - /volume2/var/karakeep/data:/data
    ports:
      - 3030:3000
    env_file:
      - env
    environment:
      MEILI_ADDR: http://meilisearch:7700
      BROWSER_WEB_URL: http://chrome:9222
      # OPENAI_API_KEY: ...

      # You almost never want to change the value of the DATA_DIR variable.
      # If you want to mount a custom directory, change the volume mapping above instead.
      DATA_DIR: /data # DON'T CHANGE THIS
    labels:
      pangolin.public-resources.keep.auth.auto-login-idp: "2"
      pangolin.public-resources.keep.auth.sso-enabled: "true"
      pangolin.public-resources.keep.auth.sso-roles[0]: Member
      pangolin.public-resources.keep.full-domain: keep.replo.de
      pangolin.public-resources.keep.name: Karakeep
      pangolin.public-resources.keep.protocol: http
      pangolin.public-resources.keep.targets[0].healthcheck.enabled: "true"
      pangolin.public-resources.keep.targets[0].healthcheck.hostname: 172.17.0.1
      pangolin.public-resources.keep.targets[0].healthcheck.method: GET
      pangolin.public-resources.keep.targets[0].healthcheck.path: /api/health
      pangolin.public-resources.keep.targets[0].healthcheck.port: "3030"
      pangolin.public-resources.keep.targets[0].hostname: 172.17.0.1
      pangolin.public-resources.keep.targets[0].method: http
      pangolin.public-resources.keep.targets[0].port: "3030"
      pangolin.public-resources.keep.rules[0].action: allow
      pangolin.public-resources.keep.rules[0].match: path
      pangolin.public-resources.keep.rules[0].value: /api/*
      traefik.enable: "true"
      traefik.http.routers.keep.entrypoints: websecure
      traefik.http.routers.keep.rule: Host(`keep.replo.de`)
      traefik.http.routers.keep.tls.certresolver: cloudflare
      traefik.http.services.keep.loadbalancer.server.port: "3000"
  chrome:
    image: gcr.io/zenika-hub/alpine-chrome:124
    restart: unless-stopped
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars
    labels:
      traefik.enable: "false"
  meilisearch:
    image: getmeili/meilisearch:v1.41.0
    restart: unless-stopped
    env_file:
      - env
    environment:
      MEILI_NO_ANALYTICS: "true"
    volumes:
      # - meilisearch:/meili_data
      - /volume2/var/karakeep/meilisearch:/meili_data
    labels:
      traefik.enable: "false"

# volumes:
  # meilisearch:
  # data:
