services:
  jelly:
    deploy:
      replicas: 1
    environment:
      JELLYFIN_PublishedServerUrl: https://jelly.replo.de
    image: jellyfin/jellyfin:10.11.8
    labels:
      io.portainer.accesscontrol.teams: operators
      pangolin.public-resources.jelly.auth.auto-login-idp: "2"
      pangolin.public-resources.jelly.auth.sso-enabled: "true"
      pangolin.public-resources.jelly.auth.sso-roles[0]: Member
      pangolin.public-resources.jelly.full-domain: jelly.replo.de
      pangolin.public-resources.jelly.name: Jellyfin
      pangolin.public-resources.jelly.protocol: http
      pangolin.public-resources.jelly.rules[0].action: allow
      pangolin.public-resources.jelly.rules[0].match: path
      pangolin.public-resources.jelly.rules[0].value: /system/info/public
      pangolin.public-resources.jelly.targets[0].healthcheck.enabled: "true"
      pangolin.public-resources.jelly.targets[0].healthcheck.hostname: 172.17.0.1
      pangolin.public-resources.jelly.targets[0].healthcheck.method: GET
      pangolin.public-resources.jelly.targets[0].healthcheck.path: /health
      pangolin.public-resources.jelly.targets[0].healthcheck.port: "8096"
      pangolin.public-resources.jelly.targets[0].hostname: 172.17.0.1
      pangolin.public-resources.jelly.targets[0].method: http
      pangolin.public-resources.jelly.targets[0].port: "8096"
      traefik.enable: "true"
      traefik.http.routers.jelly.entrypoints: websecure
      traefik.http.routers.jelly.rule: Host(`jelly.replo.de`)
      traefik.http.routers.jelly.tls.certresolver: cloudflare
      traefik.http.services.jelly.loadbalancer.server.port: "8096"
    networks:
      media: {}
    ports:
      - target: 8096
        published: "8096"
        protocol: tcp
      - target: 7359
        published: "7359"
        protocol: udp
    restart: unless-stopped
    user: 1027:65536
    volumes:
      - type: bind
        source: /dev/dri
        target: /dev/dri
      - type: bind
        source: /volume1/media/sonarr
        target: /data/sonarr
        read_only: true
      - type: bind
        source: /volume1/media/radarr
        target: /data/radarr
        read_only: true
      - type: bind
        source: /volume1/media/lidarr
        target: /data/lidarr
        read_only: true
      - type: bind
        source: /volume1/media/pinchflat
        target: /data/pinchflat
        read_only: true
      - type: bind
        source: /volume2/var/jellyfin/config
        target: /config
      - type: bind
        source: /volume2/var/jellyfin/cache
        target: /cache
  stash:
    deploy:
      replicas: 1
    environment:
      STASH_CONFIG_FILE: /mnt/stash/config/config.yml
      USER: "1027"
    healthcheck:
      test:
        - CMD-SHELL
        - wget --no-verbose --tries=1 --spider http://localhost:9999/healthz || exit 1
      interval: 10s
      start_period: 30s
    image: stashapp/stash:v0.31.1
    labels:
      io.portainer.accesscontrol.teams: operators
      pangolin.public-resources.stash.auth.auto-login-idp: "2"
      pangolin.public-resources.stash.auth.sso-enabled: "true"
      pangolin.public-resources.stash.auth.sso-roles[0]: Member
      pangolin.public-resources.stash.full-domain: stash.replo.de
      pangolin.public-resources.stash.name: Stash
      pangolin.public-resources.stash.protocol: http
      pangolin.public-resources.stash.targets[0].healthcheck.enabled: "true"
      pangolin.public-resources.stash.targets[0].healthcheck.hostname: 172.17.0.1
      pangolin.public-resources.stash.targets[0].healthcheck.method: GET
      pangolin.public-resources.stash.targets[0].healthcheck.port: "9999"
      pangolin.public-resources.stash.targets[0].hostname: 172.17.0.1
      pangolin.public-resources.stash.targets[0].method: http
      pangolin.public-resources.stash.targets[0].port: "9999"
      traefik.enable: "true"
      traefik.http.routers.stash.entrypoints: websecure
      traefik.http.routers.stash.rule: Host(`stash.replo.de`)
      traefik.http.routers.stash.tls.certresolver: cloudflare
    mem_limit: "2147483648"
    networks:
      media: {}
    ports:
      - target: 9999
        published: "9999"
        protocol: tcp
    restart: unless-stopped
    volumes:
      - type: bind
        source: /dev/dri
        target: /dev/dri
      - type: bind
        source: /volume1/private/stash
        target: /mnt/p
      - type: bind
        source: /volume2/var/stash/data
        target: /mnt/stash
      - type: bind
        source: /volume2/var/stash/db
        target: /mnt/db
networks:
  media:
    name: media
    external: true
