version: "3.2"
services:
  backrest:
    image: garethgeorge/backrest:v1.12.1
    volumes:
      - /volume2/var/backrest/data:/data
      - /volume2/var/backrest/config:/config
      - /volume2/var/backrest/cache:/cache
    environment:
      - BACKREST_DATA=/data # path for backrest data. restic binary and the database are placed here.
      - BACKREST_CONFIG=/config/config.json # path for the backrest config file.
      - XDG_CACHE_HOME=/cache # path for the restic cache which greatly improves performance.
      - TZ=Europe/Berlin # set the timezone for the container, used as the timezone for cron jobs.
    labels:
      io.portainer.accesscontrol.teams: operators
      pangolin.public-resources.bak.auth.auto-login-idp: "2"
      pangolin.public-resources.bak.auth.sso-enabled: "true"
      pangolin.public-resources.bak.auth.sso-roles[0]: Member
      pangolin.public-resources.bak.full-domain: bak.replo.de
      pangolin.public-resources.bak.name: Backrest
      pangolin.public-resources.bak.protocol: http
      pangolin.public-resources.bak.targets[0].healthcheck.enabled: "true"
      pangolin.public-resources.bak.targets[0].healthcheck.hostname: 172.17.0.1
      pangolin.public-resources.bak.targets[0].healthcheck.method: GET
      pangolin.public-resources.bak.targets[0].healthcheck.path: /
      pangolin.public-resources.bak.targets[0].healthcheck.port: "9898"
      pangolin.public-resources.bak.targets[0].hostname: 172.17.0.1
      pangolin.public-resources.bak.targets[0].method: http
      pangolin.public-resources.bak.targets[0].port: "9898"
      traefik.enable: "true"
      traefik.http.routers.bak.entrypoints: websecure
      traefik.http.routers.bak.rule: Host(`bak.replo.de`)
      traefik.http.routers.bak.tls.certresolver: cloudflare
    restart: unless-stopped
    ports:
      - 9898:9898
